---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Libraries'>
	<TitlePage title="Lex Wu's Blog" />
	<p>Built with OpenBlog & Astro.</p>

	<div>
		<h1 class='text-lg font-medium tracking-wide text-end justify-left'>Libraries</h1>
	</div>

	<p>
		This project makes use of multiple GPL-licensed libraries and resources. Due to the sensitive
		nature of most content on this website (legally owned by a music entity), resources relating to
		music (i.e. song files, album art, etc.) cannot be released.
		<br />
		<br />
		 The content on this website has <b>NOT</b> been released under the GPL license. Only the
		framework for this website - OpenBlog, powered by Astro, has been released under GPL 3.0.
		<br />
	</p>

	<a href='https://astro.build'
		><img
			src='https://astro.badg.es/v2/built-with-astro/small.svg'
			alt='Built with Astro'
			width='192'
			height='32'
		/></a
	>

	<p>
		<a href='https://github.com/danielcgilibert/blog-template'>OpenBlog,</a> created by <a
			href='https://github.com/danielcgilibert'
			">danielcgilibert</a
		> is licensed under GPL 3.0.<p></p>

		<p>
			A full list of libraries used: "@astrojs/mdx": "2.0.3", "@astrojs/sitemap": "3.0.4"
			"@astrojs/tailwind": "5.1.0", "@pagefind/default-ui": "^1.0.4", "@tailwindcss/typography":
			"0.5.10", "@tinacms/cli": "^1.5.30", "@typescript-eslint/parser": "^6.16.0", "clsx": "2.0.0",
			"eslint": "^8.56.0", "eslint-plugin-astro": "^0.31.0", "eslint-plugin-jsx-a11y": "^6.8.0",
			"husky": "^8.0.3", "lint-staged": "^15.2.0", "mdast-util-to-string": "^4.0.0", "motion":
			"^10.16.4", "pagefind": "^1.0.3", "prettier": "^3.0.3", "prettier-config-standard": "^7.0.0",
			"prettier-plugin-astro": "^0.12.0", "reading-time": "^1.5.0", "slugify": "^1.6.6",
			"tailwind-merge": "2.0.0", "tailwindcss": "3.3.5", "tinacms": "^1.5.21", "typescript":
			"^5.2.2"
		</p>
	</p>

	<script>
		import { animate } from 'motion'
		const showAnimations = localStorage.getItem('animations') === 'true'

		if (showAnimations) {
			animate(
				'.title',
				{ y: [80, 0], opacity: [0, 1] },
				{
					duration: 2.5,
					opacity: { duration: 3 },

					offset: [0, 0.55, 0.75]
				}
			)
		}
	</script>
</BaseLayout>
